<header>
  <%= form_tag("user", method: "get") do %> <!--add: , remote: true for hard mode -->
  <%= text_field_tag(:q, params[:q], placeholder: "Find Song Title") %>
  <%= submit_tag("Search") %>
  <% end %>
</header>

<div class=content-wrapper>
  <h3>Songs from your search!</h3>
  <div class=song-query>
      <% if @query %>
      <ul id="search-results">
        <% @query.each do |q| %>
          <li><%= q.artists[0].name %> : <%= q.name %>
            <%= button_to('Suggest Song',songs_path(:song => {
                                                    :user_id => current_user.id,
                                                    :artist => q.artists[0].name,
                                                    :title => q.name,
                                                    :spotify_id => q.id}),
             method: :post, class: "button") %>
          </li>
        <% end %>
      </ul>
      <% end %>
  </div>

</div>

<!-- brackets with has many b/c more than one thing.
