<h1>Current Songs for Playlist</h1>

<%= link_to "Search Again!", songs_search_path %>

<ul>
  <% @songs.each do |song| %>
    <li>
    <%= song.title %>-
    <%= song.artist %>
    <%= button_to 'Up Vote', vote_path(id: song.id ), class: 'btn btn-success btn-xs', params: { vote: '1'} %>
    <%= button_to 'Down Vote', vote_path(id: song.id ), class: 'btn btn-danger btn-xs', params: { vote: '-1'}%>
    </li>
  <% end %>
</ul>
