<div class="row ptl">
  <div class="col-md-6 col-md-offset-3">
    <div class="row mbl">
      <%= form_tag('search', method: "get") do %>
      <div class="col-md-10 pln">
        <%= text_field_tag(:query, params[:query], placeholder: "Search by Song or Artist", class: 'form-control search-input') %>
      </div>
      <div class="col-md-2 phn">
        <%= submit_tag("Search", class: 'btn btn-green btn-block font-large')%>
      </div>
      <% end %>
    </div>
    <%= link_to "Vote Page", root_path %>
    <%if current_user.votes.recent_date_range.count == 5 %>
      <div class="font-large dark-green">Oh noes! You've used up all your votes for the week. Play again next week. In the meantime, feel free to preview songs from your search</div>
    <% end %>

    <div class=content-wrapper>
      <div class=song-query>
        <% if @songs %>
          <% @songs.each do |song| %>
          <div class="row pvs mbs content">
            <div class="col-md-2 prn"><%=image_tag(song.album.images[2]['url'])%></div>
            <div class="col-md-8 pln prn">
              <div>
                <div class="font-large bold"><%= song.name %></div>
                <div class="font-small"><%= song.artists[0].name %> : <%= song.album.name %></div>
              </div>
            </div>
            <div class="col-md-2">
              <div>
                <%= link_to('Preview', song.preview_url, class: "btn btn-black btn-sm right", disabled: song.preview_url.nil?, target: "_blank")%>
              </div>
              <div>
                <%= button_to(
                  'Suggest',
                  songs_path({
                    artist: song.artists[0].name,
                    title: song.name,
                    spotify_id: song.id,
                    image_url: song.album.images[2]['url'],
                    preview_url: song.preview_url,
                    album: song.album.name
                  }),
                  method: :post,
                  class: "btn btn-black btn-sm right mts",
                  params: { vote: '1'},
                  disabled: song.submitted || current_user.votes.recent_date_range.count == 5
                ) %>
              </div>
              <%if song.submitted %>
                <div class="font-xs text-right dark-green">Already submitted</div>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
