<head>
<%= form_tag('search', method: "get") do %>
  <%= text_field_tag(:query, params[:query], placeholder: "Find Song Title") %>
  <%= submit_tag("Search") %>
<% end %>
</head>

<%= link_to "Vote Page", root_path %>

<div class=content-wrapper>
  <h3>Songs from your search!</h3>
  <div class=song-query>
    <% if @query_results %>
    <ul id="search-results">
      <% @query_results.each do |result| %>
        <li><%= result.artists[0].name %> : <%= result.name %></li>
        <li><%=image_tag(result.album.images[2]['url'])%></li>
        <li><%= button_to(
          'Suggest Song',
          songs_path(song: {
            artist: result.artists[0].name,
            title: result.name,
            :spotify_id => result.id
            }),
          method: :post,
          class: "button",
          params: { vote: '1'} )
            %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
