<div class="container" style="width:30em">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'Email Address'%>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
    </div>
    <div class="row">
      <div class="col-sm-6 mts">
        <% if devise_mapping.rememberable? -%>
          <div class="form-group gray">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>
      <div class="col-sm-6 actions">
          <%= f.submit "Log in", class: "btn btn-green btn-block" %>
      </div>
    </div>
  <% end %>
  <div class="row ptl">
    <div class="col-sm-12 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
